$pri-light: #dae0e5;
$sec-light: #adb5bd;

@mixin fontSize($minFont, $maxFont, $minBkp, $maxBkp) {
  $avgFont: ($minFont + $maxFont) / 2;
  font-size: #{$minFont}px;
  @media (min-width: #{$minBkp}px) and (max-width: #{$maxBkp - 1}px) {
    font-size: #{$avgFont}px;
    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$minBkp}px) /
        (#{$maxBkp} - #{$minBkp})
    );
  }
  @media (min-width: #{$maxBkp}px) {
    font-size: #{$maxFont}px;
  }
}

@mixin transition {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@mixin screenSize ($breakpoint) {

  @if $breakpoint==sm-pc{
    @media only screen and (max-width: 767px){
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 691px){
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }
}
