.episode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &-card{
      width: 100%;
      height: 310px;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      @include screenSize(tablet){
        height: 290px;
      }
      .card{
        height: 100%;
        width: 100%;
        overflow: hidden;
        .no-gutter {
          overflow-y: auto;
        }
      }

      &_btn{
        a:first-child {
          margin-right: 1rem;
        }
      }

      &_info{
        list-style: none;
        text-align: left;
        li:first-child{
          display: flex;
          justify-content: space-between;
        }
        li{
          display: block;
        }
      }
    }

    &-body.col{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include screenSize(tablet){
        padding: 0;
      }
      @include screenSize (mobile) {
        padding: 0 15px;
      }
    }
}

.col-auto.grid-display {
  @include screenSize(mobile) {
    display: grid;
    width: 100%;
    justify-content: space-between;
    padding-right: 0;
    grid-template-areas: "I P"
    "B B";

    img{
      grid-area: P;
    }

    .episode-card_info{
      grid-area: I;
    }

    .episode-card_btn{
      grid-area: B;
    }
  }
}
