.header {
  height: 100vh;
  width: 100vw;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: -5rem;
  &-img {
    width: 325px;
  }
  #{&}-card {
    background: transparent;
    border: none;
    width: 450px;
    height: 150px;
    margin: -2rem auto 0;
  }
}

.blockquote {
  color: $pri-light;
  &-footer {
    color: $sec-light;
    text-align: right;
  }
  .quote {
    margin-bottom: 0;
    text-align: left;
  }
}
