.header {
  height: 100vh;
  width: 100vw;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: -5rem;
  &-img {
    width: 325px;
    @include screenSize(mobile) {
      width: 200px;
    }
    @include screenSize(tablet) {
      width: 250px;
    }
  }
  #{&}-card {
    background: transparent;
    border: none;
    width: 450px;
    height: 150px;
    margin: -1.5rem auto 0;
    &-body {
      padding: 0;
    }
  }
}

.blockquote {
  color: $pri-light;
  .quote-icon {
    font-size: 0.9rem;
  }
  .quote {
    margin-bottom: 0;
    position: absolute;
  }
  &-footer {
    color: $sec-light;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 0.8rem;
    transform: translate(50%, 0);
    &::before {
      content: "" !important;
    }
    cite {
      display: block;
    }
  }
}
