@import "./config";
@import "./home";
@import "./cast";
@import "./season";
@import "./episode";

// bootstrap reset
.btn {
  &.btn-primary {
    @include transition;
    background-color: #0062cc;
    margin-top: 1rem;
    &:hover {
      background-color: transparent;
      border-color: #0062cc;
    }
    &:focus {
      box-shadow: none;
      border: 1px solid transparent;
    }
    &:active {
      border: 1px solid transparent;
    }
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  }
}

/*=====================================
   NAVBAR AND FOOTER
=====================================*/
.navbar-dark {
  background-color: rgba(0, 0, 0, 0.78);
}

.navbar-brand__logo {
  width: 60px;
}

.footer {
  padding: 1rem;
}

.wrapper {
  overflow: hidden;
}

.got-bg {
  background-image: url("../images/hero.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main{
  height: 100vh;
  width: 100vw;
}
